/* General Styles */
body {
    font-family: 'SF UI Display', Arial, sans-serif;
    color: #fff;
    background: #000; /* Fondo negro */
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
    position: relative; /* Para el fondo con puntitos */
}

/* Fondo con puntitos blancos más pequeños y más separados */
body::before {
    content: '';
    position: fixed; /* Usa fixed para que el fondo se quede fijo mientras haces scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 1px) repeat; /* Patrón de puntitos blancos menos notorios */
    background-size: 15px 15px; /* Tamaño reducido y más separado del patrón */
    z-index: -1; /* Asegura que el fondo con puntitos quede detrás del contenido */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para la barra de navegación */
    backdrop-filter: blur(10px); /* Efecto de blur en el fondo de la barra de navegación */
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil en la barra de navegación */
    z-index: 1000; /* Asegura que el header esté encima de otros elementos */
    top: 0;
    left: 0;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; /* Espacio a los lados de la barra de navegación */
}

.left-icons, .nav-icons, .right-icons {
    display: flex;
    align-items: center;
}

.store-name {
    margin-right: 40px;
    font-size: 1.3em;
    color: #fff;
}

.nav-icons a, .right-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s, transform 0.3s;
}

i {
    margin-right: 8px !important;
}

.nav-icons a:hover, .right-icons a:hover {
    color: #4CAF50; /* Color verde para el hover */
    transform: scale(1.1); /* Efecto de aumento en el hover */
}

.right-icons {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px;
    border-radius: 12px; /* Bordes más redondeados */
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin-right: 0;
    width: 250px; /* Ajustar tamaño según tus necesidades */
    transition: background 0.3s, border-color 0.3s;
}

.search-bar::placeholder {
    color: #fff;
}

.search-bar:focus {
    background: rgba(255, 255, 255, 0.2); /* Efecto al enfocar el campo de búsqueda */
    border-color: #28a745; /* Color verde para el borde al enfocar */
}

.search-button {
    border-radius: 12px; /* Bordes más redondeados */
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1) !important;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    transition: background 0.3s, transform 0.3s;
}

.search-button:hover {
    background: #218838 !important; /* Verde más oscuro para el hover */
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

/* Estilos de los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px; /* Bordes más redondeados */
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    margin: 5px;
    transition: background 0.3s, transform 0.3s;
}

button .bi {
    margin-right: 5px;
}

button:nth-of-type(1) {
    background: #007BFF; /* Azul para el botón de detalles */
}

button:nth-of-type(2) {
    background: #28a745; /* Verde para el botón de agregar al carrito */
}

button:nth-of-type(3) {
    background: #dc3545; /* Rojo para el botón de eliminar del carrito */
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

/* Botón de inicio de sesión */
.left-icons a {
    display: inline-flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    border-radius: 12px; /* Bordes más redondeados */
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s, transform 0.3s;
}

.left-icons a:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

/* Estilo del botón del carrito */
.right-icons a {
    display: inline-flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 8px 16px;
    border-radius: 12px; /* Bordes más redondeados */
    font-size: 1.2em;
    color: #fff;
    transition: background 0.3s, transform 0.3s;
}

.right-icons a:hover {
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1.05); /* Efecto de aumento en el hover */
    transition: background 0.3s, transform 0.3s;
}

/* Product Gallery */
main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    width: 220px; /* Ajustado para ser un poco más grande */
    border-radius: 34px; /* Bordes ligeramente redondeados */
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Efecto de blur similar al de la barra de navegación y el footer */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px); /* Leve elevación al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

.product-card img {
    width: 100%;
    height: 150px; /* Asegura que todas las imágenes tengan el mismo tamaño */
    object-fit: cover;
    border-radius: 24px; /* Bordes ligeramente redondeados para la imagen */
}

.product-info {
    text-align: center;
}

.product-info h3 {
    margin: 10px 0;
    font-size: 1.1em;
}

.product-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para el footer */
    backdrop-filter: blur(10px); /* Efecto de blur en el fondo del footer */
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil en el footer */
}

footer p {
    margin: 0;
    color: #fff;
    font-size: small;
    font-weight: lighter;
}

/* Filter Section */
.filter-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-label {
    font-size: 0.9em;
    color: #fff;
    margin-right: 10px;
}

.filter-dropdown {
    padding: 8px !important; 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    color: #fff;
    font-size: 0.9em;
    transition: background 0.3s, border-color 0.3s;
}

.filter-dropdown:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #28a745; /* Color verde para el borde al enfocar */
}

.filter-dropdown option {
    background: rgba(0, 0, 0, 0.9);
}

/* Márgenes alrededor del carrusel */
.carousel {
    margin-top: 12px;  /* Margen superior */
    margin-bottom: 40px; /* Margen inferior */
    margin-right: 0;
    margin-left: 0;
}

.carousel-item img {
    width: 100vw;
    height: 45vh; /* Ajustar la altura del banner */
    object-fit: cover;
}

.carousel-caption {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.carousel-caption h5 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.carousel-caption p {
    font-size: 1.1em;
    color: #fff;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    width: 5vw;
    height: 45vh;
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(50px) !important; 
    color: #fff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    z-index: 999; /* Asegura que los botones estén sobre el contenido */
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    background: rgba(0, 0, 0, 0.5); /* Fondo más oscuro en el hover */
    backdrop-filter: blur(50px) !important; /* Efecto de blur */
    transform: scale(1.03); /* Efecto de aumento en el hover */
    transition: background 0.3s, transform 0.3s;
}

.carousel-control-next.prev {
    left: 10px;
}

.carousel-control-next.next {
    right: 10px;
}

.carousel-control-next i {
    margin: 0; /* Ajusta el ícono a la posición central del botón */
}

/* Estilos para la ventana emergente */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    transition: transform 0.3s, box-shadow 0.3s;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    transition: transform 0.3s;
}

.close-btn:hover,
.close-btn:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 38px;
    max-width: 25vw;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Carrusel del Modal */
.carousel {
    position: relative;
    width: 80%; /* Ajusta el ancho del carrusel */
    max-width: 400px; /* Define un tamaño máximo para el carrusel */
    margin: 20px auto; /* Centra el carrusel horizontalmente */
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-images img {
    width: 100%; /* Las imágenes ocupan el 100% del ancho del contenedor del carrusel */
    border-radius: 32px;
    object-fit: cover;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    font-size: 24px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Estilos para el selector de cantidad */
.quantity-section {
    display: flex;
    flex-direction: column; /* Cambiado a columna para centrar el label y los controles */
    align-items: center;
    margin: 20px 0;
}

.quantity-section label {
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px; /* Espacio debajo del label */
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 12px; /* Bordes redondeados */
    padding: 8px 12px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.quantity-btn:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

#quantity {
    width: 60px; /* Ancho del input */
    text-align: center; /* Alinear texto al centro */
    padding: 8px;
    border-radius: 12px; /* Bordes más redondeados */
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 0 5px; /* Espacio entre el input y los botones */
}

#quantity:focus {
    background: rgba(255, 255, 255, 0.2); /* Efecto al enfocar el campo de cantidad */
    border-color: #28a745; /* Color verde para el borde al enfocar */
}

/* Botón Agregar al Carrito */
#add-to-cart-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 12px; /* Bordes más redondeados */
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    margin: 5px;
    transition: background 0.3s, transform 0.3s;
    background: #28a745;
}

#add-to-cart-btn  a:hover {
    opacity: 0.9;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}



/* Mobile Styles */
@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-icons, .right-icons {
        margin-top: 10px;
    }

    .product-gallery {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 90%;
    }

    .carousel-item img {
        height: 40vh; /* Altura del banner ajustada para móviles */
    }
}

/* Mobile-specific styles */
@media (max-width: 768px) {

    body {
        padding-top: 80px;
    }

    .left-icons {
        flex: 1;
        justify-content: space-between;
    }

    .left-icons a {
        font-size: 0.9em; /* Reducción del tamaño del texto en móviles */
        padding: 5px 10px; /* Más compacto */
    }

    .store-name {
        font-size: 0.9em; /* Reducción del tamaño del nombre de la tienda */
    }

    .right-icons {
        padding: 10px;
    }

    .right-icons a {
        font-size: 1.05em; /* Reducción del tamaño de los iconos en la derecha */
        margin: 0;
        padding: 5px 10px; /* Más compacto */
    }

    .search-bar {
        padding: 5px;
        border-radius: 8px;
        width: calc(100% - 20px); /* Se asegura que la barra de búsqueda ocupe todo el ancho disponible */
    }

    .search-button {
        display: none; /* Mantiene el botón de búsqueda oculto en móviles */
    }

    /* Ajustes para la ventana emergente (modal) */

    .modal {
        width: 100%;
    }

    .modal-content {
        margin: 10% auto;
        padding: 20px;
        max-width: 75vw;
        margin-top: 30vh;
    }

    footer {
        position: static; /* El footer será estático en pantallas pequeñas */
        box-shadow: none; /* Opcional: quitar la sombra si deseas */
        margin-bottom: 0;
    }
}


